<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  
      <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml,/WEB-INF/struts-config-two.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
        </servlet>
  <listener>
        <listener-class>com.myapp.struts.ContainerContextClosedHandler</listener-class>
    </listener>      
   <servlet>
        <servlet-name>ViewFile</servlet-name>
        <servlet-class>Fee.ViewFile</servlet-class>
        <init-param>
            <param-name>folder</param-name>
            <param-value>ScrollInPDF</param-value>
        </init-param>
    </servlet>
     
  <servlet>
        <servlet-name>updateExternal</servlet-name>
        <servlet-class>com.myapp.struts.updateExternal</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>storedata1</servlet-name>
        <servlet-class>com.myapp.struts.storedata1</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>extshowreport</servlet-name>
        <servlet-class>com.myapp.struts.extshowreport</servlet-class>
    </servlet> 
     

<servlet>
        <servlet-name>StudCompartUpdate</servlet-name>
        <servlet-class>schedule.StudCompartUpdate</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>EnterInternship</servlet-name>
        <servlet-class>schedule.EnterInternship</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>MeetingsSc</servlet-name>
        <servlet-class>com.myapp.struts.MeetingsSc</servlet-class>
    </servlet> 
  <servlet>
        <servlet-name>updateinternal</servlet-name>
        <servlet-class>com.myapp.struts.updateinternal</servlet-class>
    </servlet> 
    
    <servlet>
        <servlet-name>UpDoc</servlet-name>
        <servlet-class>com.myapp.struts.UpDoc</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddMember</servlet-name>
        <servlet-class>com.myapp.struts.AddMember</servlet-class>
    </servlet>
<servlet>
        <servlet-name>EnterAluminiNews</servlet-name>
        <servlet-class>com.myapp.struts.EnterAluminiNews</servlet-class>
    </servlet>   
    
 <servlet>
        <servlet-name>AddDoc</servlet-name>
        <servlet-class>com.myapp.struts.AddDoc</servlet-class>
    </servlet>   
     <servlet>
        <servlet-name>sndfle</servlet-name>
        <servlet-class>User_Profile.User_File_Information</servlet-class>
    </servlet> 
    
 <servlet>
     <servlet-name>UpdateTenders</servlet-name>
     <servlet-class>com.myapp.struts.UpdateTenders</servlet-class>
     <init-param>
            <param-name>bpath</param-name>  
            <param-value>E:\\Documents and Settings\\Rock\\Exam\\web\\TendersFolder\\</param-value>
            </init-param>    
 </servlet>
    <servlet>
        <servlet-name>AddTender</servlet-name>
        <servlet-class>com.myapp.struts.AddTender</servlet-class>
        <init-param>
            <param-name>bpath</param-name>  
            <param-value>E:\\Documents and Settings\\Rock\\Exam\\web\\TendersFolder\\</param-value>
          </init-param>   
    </servlet>
  
    <servlet>
        <servlet-name>TenderStatus</servlet-name>
        <servlet-class>com.myapp.struts.TenderStatus</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>Emp_Reg</servlet-name>
        <servlet-class>com.myapp.struts.Emp_Regist</servlet-class>
    </servlet>

<servlet>
        <servlet-name>RajeshReport</servlet-name>
        <servlet-class>com.myapp.struts.RajeshReport</servlet-class>
    </servlet>  
  
    <servlet>
        <servlet-name>storedata</servlet-name>
        <servlet-class>com.myapp.struts.storedata</servlet-class>
    </servlet> 

<servlet>
        <servlet-name>Student_Reg</servlet-name>
        <servlet-class>com.myapp.struts.Student_Regist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>Welcm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>com.myapp.struts.SignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisInfo</servlet-name>
        <servlet-class>com.myapp.struts.DisInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tes</servlet-name>
        <servlet-class>com.myapp.struts.Test</servlet-class>
    </servlet>
<servlet>
        <servlet-name>lnr</servlet-name>
        <servlet-class>com.myapp.struts.AfteRegisLogin</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>File_Ctnt_Disp</servlet-name>
        <servlet-class>User_Profile.File_Ctnt_Disp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searching_Pro</servlet-name>
        <servlet-class>User_Profile.Searching_Pro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sear_Dir</servlet-name>
        <servlet-class>User_Profile.Searching_Directory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filelength</servlet-name>
        <servlet-class>User_Profile.Filelength</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Share_Project</servlet-name>
        <servlet-class>User_Profile.Share_Project</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Project_Display</servlet-name>
        <servlet-class>User_Profile.ProjectShared_Display</servlet-class>
    </servlet>
    <servlet><servlet-name>Project_Team</servlet-name><servlet-class>User_Profile.Project_Team</servlet-class></servlet>
    <servlet>
        <servlet-name>Check_Member</servlet-name>
        <servlet-class>User_Profile.Check_Valid_Member</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assigname</servlet-name>
        <servlet-class>User_Profile.Assingment_Name</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submit_assig</servlet-name>
        <servlet-class>User_Profile.Submit_Assignment</servlet-class>
    </servlet>
    <servlet><servlet-name>assingroup</servlet-name>
<servlet-class>User_Profile.Assig_Group</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chkgroupusr</servlet-name>
        <servlet-class>User_Profile.valid_group_usr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>asgnf</servlet-name>
        <servlet-class>User_Profile.Assign_File_Up</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assignupload</servlet-name>
        <servlet-class>User_Profile.Assign_Submit_fileup</servlet-class>
    </servlet>
    <servlet><servlet-name>singassign</servlet-name>
<servlet-class>User_Profile.Single_Assignment</servlet-class>
    </servlet>
    
<servlet><servlet-name>tosingassin</servlet-name>
<servlet-class>User_Profile.Single_Assign_To</servlet-class>
</servlet>

    <servlet>
        <servlet-name>AssignDisp</servlet-name>
        <servlet-class>User_Profile.Assign_Single_Display</servlet-class>
    </servlet>
    <servlet><servlet-name>sing_assign_subfile</servlet-name><servlet-class>User_Profile.Assign_Single_Sub_Fileup</servlet-class></servlet>
    <servlet>
        <servlet-name>singassignview</servlet-name>
        <servlet-class>User_Profile.Single_Assignment_View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>groupassignview</servlet-name>
        <servlet-class>User_Profile.Assign_GroupStatus_Display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>groupassigndisp</servlet-name>
        <servlet-class>User_Profile.Group_Assign_File_Disp</servlet-class>
    </servlet>

    
    <servlet>
        <servlet-name>Re_prof</servlet-name>
        <servlet-class>com.myapp.struts.Reprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ctnt_V</servlet-name>
        <servlet-class>com.myapp.struts.Ctnt_Verify</servlet-class>
        
        <init-param>
            <param-name>bpath</param-name>  
            <param-value>E:\\Documents and Settings\\Rock\\Exam\\web\\ContImage\\</param-value>
            </init-param> 
        
    </servlet>
    <servlet>
        <servlet-name>Ctnt_A</servlet-name>
        <servlet-class>com.myapp.struts.Ctnt_Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ctnt_S</servlet-name>
        <servlet-class>com.myapp.struts.Ctnt_Submit</servlet-class>
    </servlet>
    
       
   
    <servlet>
        <servlet-name>Adm</servlet-name>
        <servlet-class>com.myapp.struts.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emp_ed_profile</servlet-name>
        <servlet-class>com.myapp.struts.emp_edit_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ctnt_vv</servlet-name>
        <servlet-class>com.myapp.struts.Ctnt_v</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cs</servlet-name>
        <servlet-class>com.myapp.struts.Csr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coll_verify</servlet-name>
        <servlet-class>com.myapp.struts.coll_verify</servlet-class>
        
        <init-param>
            <param-name>bpath</param-name>  
            <param-value>E:\\Documents and Settings\\Rock\\Exam\\web\\ColgImage\\</param-value>
            </init-param> 
        
    </servlet>
    <servlet>
        <servlet-name>Coll_Auth</servlet-name>
        <servlet-class>com.myapp.struts.Coll_Auth</servlet-class>
         
        
    </servlet>
    <servlet>
        <servlet-name>Coll_Submit</servlet-name>
        <servlet-class>com.myapp.struts.Coll_Submit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEnterEve</servlet-name>
        <servlet-class>com.myapp.struts.Admin_event_enter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEveFileUp</servlet-name>
        <servlet-class>com.myapp.struts.AdminEveFileUp</servlet-class>
        
        <init-param>
            <param-name>path</param-name>  
            <param-value>E:\\Documents and Settings\\Rock\\Exam\\web\\EventDesc\\</param-value>
            
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Even_Desc</servlet-name>
        <servlet-class>com.myapp.struts.Even_Desc</servlet-class>
    </servlet>
    <servlet><servlet-name>Evendetail</servlet-name><servlet-class>com.myapp.struts.Event_detail</servlet-class></servlet>
    <servlet>
        <servlet-name>Evnt_cal_ent</servlet-name>
        <servlet-class>com.myapp.struts.Evnt_cal_ent</servlet-class>
        <init-param>
            <param-name>path</param-name>  
            <param-value>E:\\Documents and Settings\\Rock\\Exam\\web\\evtcal\\</param-value>
            </init-param>
    </servlet>
    <servlet>
        <servlet-name>Remov_cal_event</servlet-name>
        <servlet-class>com.myapp.struts.Remov_cal_event</servlet-class>
        
        <init-param>
            <param-name>path</param-name>  
            <param-value>E:\\Documents and Settings\\Rock\\Exam\\web\\evtcal\\</param-value>
            </init-param>
    </servlet>
    <servlet>
        <servlet-name>Enternews</servlet-name>
        <servlet-class>com.myapp.struts.Enter_news</servlet-class>
        
        <init-param>
            <param-name>imgpath</param-name>  
            <param-value>E:/Documents and Settings/Rock/Exam/web/NewsImage/</param-value>
            </init-param>    
    </servlet>
    <servlet>
        <servlet-name>TenderDetails</servlet-name>
        <servlet-class>com.myapp.struts.TenderDetails</servlet-class>
                    </servlet>
    
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.myapp.struts.UploadFile</servlet-class>
                <init-param>
            <param-name>bpath</param-name>  
            <param-value>E:\\Documents and Settings\\Rock\\Exam\\web\\TendersFolder\\</param-value>
            </init-param>    
    </servlet>
    
    <servlet>
        <servlet-name>NewsDetail</servlet-name>
        <servlet-class>com.myapp.struts.NewsDetail</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>replycontent</servlet-name>
        <servlet-class>com.myapp.struts.replycontent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delcontent</servlet-name>
        <servlet-class>com.myapp.struts.delcontent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>replymessage</servlet-name>
        <servlet-class>com.myapp.struts.replymessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delmessage</servlet-name>
        <servlet-class>com.myapp.struts.delmessage</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>create_cric_team</servlet-name>
        <servlet-class>com.myapp.struts.create_cric_team</servlet-class>
    </servlet>
    <servlet><servlet-name>schedulecric</servlet-name>
             <servlet-class>com.myapp.struts.schedulecric</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AluminiEvent</servlet-name>
        <servlet-class>com.myapp.struts.AluminiEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntAluminiCalEv</servlet-name>
        <servlet-class>com.myapp.struts.EntAluminiCalEv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterAcademic</servlet-name>
        <servlet-class>com.myapp.struts.EnterAcademic</servlet-class>
    </servlet>
   
 <servlet><servlet-name>Courses_Details</servlet-name>
          <servlet-class>Courses.Insert_Courses_Details</servlet-class>
 </servlet>
    <servlet>
        <servlet-name>ad_co_pro</servlet-name>
        <servlet-class>Courses.Add_Courser_To_Prof</servlet-class>
    </servlet>
    <servlet><servlet-name>Req_Course</servlet-name><servlet-class>Courses.Req_Studnt_Course</servlet-class></servlet>
    <servlet>
        <servlet-name>ApprovedCourses</servlet-name>
        <servlet-class>Courses.Courses_Approved</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoursesNotApproved</servlet-name>
        <servlet-class>Courses.Courses_Not_Approved</servlet-class>
    </servlet>
    <servlet>
<servlet-name>SchedExam</servlet-name>
<servlet-class>schedule.SchedExam</servlet-class>
    </servlet>
    <servlet><servlet-name>ScheduleDate</servlet-name><servlet-class>ScheduleExams.ScheduleDate</servlet-class></servlet><servlet><servlet-name>SchedHolidays</servlet-name><servlet-class>schedule.SchedHolidays</servlet-class></servlet>
<servlet><servlet-name>ScheduleExm5</servlet-name><servlet-class>schedule.ScheduleExm5</servlet-class></servlet><servlet><servlet-name>ScheduleExm4</servlet-name><servlet-class>schedule.ScheduleExm4</servlet-class></servlet><servlet><servlet-name>ScheduleExm3</servlet-name><servlet-class>schedule.ScheduleExm3</servlet-class></servlet><servlet><servlet-name>ScheduleExm2</servlet-name><servlet-class>schedule.ScheduleExm2</servlet-class></servlet><servlet><servlet-name>ScheduleExm1</servlet-name><servlet-class>schedule.ScheduleExm1</servlet-class></servlet>
<servlet><servlet-name>SchedExm11</servlet-name>
<servlet-class>schedule.SchedExm11</servlet-class></servlet>
    <servlet>
        <servlet-name>RemoveCours</servlet-name>
        <servlet-class>Courses.RemoveCours</servlet-class>
    </servlet>
    <servlet><servlet-name>RemoveExam</servlet-name><servlet-class>schedule.RemoveExam</servlet-class></servlet><servlet><servlet-name>Add_Degree</servlet-name><servlet-class>schedule.Add_Degree</servlet-class></servlet><servlet><servlet-name>EntMarks</servlet-name><servlet-class>schedule.EntMarks</servlet-class></servlet>
    <servlet>
        <servlet-name>AdminEntMarks</servlet-name>
        <servlet-class>schedule.AdminEntMarks</servlet-class>
    </servlet>
    <servlet><servlet-name>Ent_Total_Attend</servlet-name><servlet-class>schedule.Ent_Total_Attend</servlet-class></servlet>
    <servlet>
        <servlet-name>Ent_Attend_Stud</servlet-name>
        <servlet-class>schedule.Ent_Attend_Stud</servlet-class>
    </servlet>
    <servlet><servlet-name>StudInfoUpdate</servlet-name><servlet-class>schedule.StudInfoUpdate</servlet-class></servlet><servlet><servlet-name>CourseMark</servlet-name><servlet-class>Courses.CourseMark</servlet-class></servlet>
    <servlet>
        <servlet-name>Permission</servlet-name>
        <servlet-class>schedule.Permission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterInternshipDate</servlet-name>
        <servlet-class>schedule.EnterInternshipDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Dep</servlet-name>
        <servlet-class>Courses.Add_Dep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvailability</servlet-name>
        <servlet-class>Courses.UpdateAvailability</servlet-class>
    </servlet>
    <servlet><servlet-name>CheckEntry</servlet-name><servlet-class>Courses.CheckEntry</servlet-class></servlet><servlet><servlet-name>AssignCourse</servlet-name><servlet-class>Courses.AssignCourse</servlet-class></servlet>
    <servlet>
        <servlet-name>ProfEntMarks</servlet-name>
        <servlet-class>schedule.ProfEntMarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntExtMarks</servlet-name>
        <servlet-class>schedule.EntExtMarks</servlet-class>
    </servlet>
    <servlet><servlet-name>Edit_Course_Detail</servlet-name><servlet-class>Courses.Edit_Course_Detail</servlet-class></servlet>
    <servlet-mapping>
        <servlet-name>updateExternal</servlet-name>
        <url-pattern>/updateExternal</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>storedata1</servlet-name>
        <url-pattern>/storedata1</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>extshowreport</servlet-name>
        <url-pattern>/extshowreport</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>AddDoc</servlet-name>
        <url-pattern>/AddDoc</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>schedulecric</servlet-name>
        <url-pattern>/schedulecric</url-pattern>
    </servlet-mapping>

 <servlet-mapping>
        <servlet-name>RajeshReport</servlet-name>
        <url-pattern>/disp</url-pattern>
    </servlet-mapping>     

    <servlet-mapping>
        <servlet-name>storedata</servlet-name>
        <url-pattern>/storedata</url-pattern>
    </servlet-mapping>  
    
<servlet-mapping>
        <servlet-name>UpDoc</servlet-name>
        <url-pattern>/UpDoc</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>updateinternal</servlet-name>
        <url-pattern>/updateinternal</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>UpdateTenders</servlet-name>
        <url-pattern>/UpdateTenders</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AddTender</servlet-name>
        <url-pattern>/AddTender</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TenderStatus</servlet-name>
        <url-pattern>/TenderStatus</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TenderDetails</servlet-name>
        <url-pattern>/TenderDetails</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ViewFile</servlet-name>
        <url-pattern>/viewfile</url-pattern>
    </servlet-mapping>
 
    <servlet-mapping>
        <servlet-name>Emp_Reg</servlet-name>
        <url-pattern>/Empreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_Reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/wel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisInfo</servlet-name>
        <url-pattern>/userinfo</url-pattern>
      </servlet-mapping>
       <servlet-mapping>
        <servlet-name>lnr</servlet-name>
        <url-pattern>/rln</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
        <servlet-name>Tes</servlet-name>
        <url-pattern>/Te</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>StudCompartUpdate</servlet-name>
        <url-pattern>/StudCompartUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Re_prof</servlet-name>
        <url-pattern>/neprof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ctnt_V</servlet-name>
        <url-pattern>/ctntverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ctnt_A</servlet-name>
        <url-pattern>/msgforverifi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ctnt_S</servlet-name>
        <url-pattern>/ctntdisplay</url-pattern>
    </servlet-mapping>  
       
    <servlet-mapping>
        <servlet-name>Adm</servlet-name>
        <url-pattern>/Adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emp_ed_profile</servlet-name>
        <url-pattern>/emp_ed_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ctnt_vv</servlet-name>
        <url-pattern>/Ctnt_v</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cs</servlet-name>
        <url-pattern>/Cs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coll_verify</servlet-name>
        <url-pattern>/collverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coll_Auth</servlet-name>
        <url-pattern>/collforverifi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coll_Submit</servlet-name>
        <url-pattern>/colldisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEnterEve</servlet-name>
        <url-pattern>/AdminEnterEve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEveFileUp</servlet-name>
        <url-pattern>/AdminEveFileUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Even_Desc</servlet-name>
        <url-pattern>/Even_Desc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Evendetail</servlet-name>
        <url-pattern>/Evendetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Evnt_cal_ent</servlet-name>
        <url-pattern>/Evnt_cal_ent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remov_cal_event</servlet-name>
        <url-pattern>/Remov_cal_event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enternews</servlet-name>
        <url-pattern>/Enternews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail</servlet-name>
        <url-pattern>/NewsDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>replycontent</servlet-name>
        <url-pattern>/replycontent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delcontent</servlet-name>
        <url-pattern>/delcontent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>replymessage</servlet-name>
        <url-pattern>/replymessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delmessage</servlet-name>
        <url-pattern>/delmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_cric_team</servlet-name>
        <url-pattern>/create_cric_team</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>File_Ctnt_Disp</servlet-name>
        <url-pattern>/DispMsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searching_Pro</servlet-name>
        <url-pattern>/Search_Pro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sear_Dir</servlet-name>
        <url-pattern>/Sear_Dir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sndfle</servlet-name>
        <url-pattern>/sndfle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Share_Project</servlet-name>
        <url-pattern>/Share_Project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Project_Display</servlet-name>
        <url-pattern>/Project_Display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Project_Team</servlet-name>
        <url-pattern>/projteam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_Member</servlet-name>
        <url-pattern>/Check_Member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assigname</servlet-name>
        <url-pattern>/assigname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submit_assig</servlet-name>
        <url-pattern>/submit_assig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assingroup</servlet-name>
        <url-pattern>/assingroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chkgroupusr</servlet-name>
        <url-pattern>/chkgroupusr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asgnf</servlet-name>
        <url-pattern>/asgnf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assignupload</servlet-name>
        <url-pattern>/assignupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singassign</servlet-name>
        <url-pattern>/singassign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tosingassin</servlet-name>
        <url-pattern>/tosingassin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignDisp</servlet-name>
        <url-pattern>/AssignDisp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sing_assign_subfile</servlet-name>
        <url-pattern>/sing_assign_subfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>singassignview</servlet-name><url-pattern>/singassignview</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>groupassignview</servlet-name>
        <url-pattern>/groupassignview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>groupassigndisp</servlet-name>
        <url-pattern>/groupassigndisp</url-pattern>
    </servlet-mapping>


    
    <servlet-mapping>
        <servlet-name>AluminiEvent</servlet-name>
        <url-pattern>/AluminiEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntAluminiCalEv</servlet-name>
        <url-pattern>/EntAluminiCalEv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterAcademic</servlet-name>
        <url-pattern>/EnterAcademic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Courses_Details</servlet-name>
        <url-pattern>/Master_Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ad_co_pro</servlet-name>
        <url-pattern>/ad_co_pro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Req_Course</servlet-name>
        <url-pattern>/Req_Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovedCourses</servlet-name>
        <url-pattern>/approved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesNotApproved</servlet-name>
        <url-pattern>/not_approv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedExam</servlet-name>
        <url-pattern>/SchedExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleDate</servlet-name>
        <url-pattern>/ScheduleDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>SchedHolidays</servlet-name><url-pattern>/SchedHolidays</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleExm5</servlet-name>
        <url-pattern>/ScheduleExm5</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>ScheduleExm4</servlet-name><url-pattern>/ScheduleExm4</url-pattern></servlet-mapping><servlet-mapping><servlet-name>ScheduleExm3</servlet-name><url-pattern>/ScheduleExm3</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleExm2</servlet-name>
        <url-pattern>/ScheduleExm2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleExm1</servlet-name>
        <url-pattern>/ScheduleExm1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedExm11</servlet-name>
        <url-pattern>/SchedExm11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCours</servlet-name>
        <url-pattern>/RemoveCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveExam</servlet-name>
        <url-pattern>/RemoveExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Degree</servlet-name>
        <url-pattern>/Add_Degree</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>EntMarks</servlet-name><url-pattern>/EntMarks</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEntMarks</servlet-name>
        <url-pattern>/AdminEntMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ent_Total_Attend</servlet-name>
        <url-pattern>/Ent_Total_Attend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ent_Attend_Stud</servlet-name>
        <url-pattern>/Ent_Attend_Stud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudInfoUpdate</servlet-name>
        <url-pattern>/StudInfoUpdate</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>CourseMark</servlet-name>
        <url-pattern>/CourseMark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Permission</servlet-name>
        <url-pattern>/Permission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterInternship</servlet-name>
        <url-pattern>/EnterInternship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterInternshipDate</servlet-name>
        <url-pattern>/EnterInternshipDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Dep</servlet-name>
        <url-pattern>/Add_Dep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvailability</servlet-name>
        <url-pattern>/UpdateAvailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEntry</servlet-name>
        <url-pattern>/CheckEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignCourse</servlet-name>
        <url-pattern>/AssignCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfEntMarks</servlet-name>
        <url-pattern>/ProfEntMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntExtMarks</servlet-name>
        <url-pattern>/EntExtMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_Course_Detail</servlet-name>
        <url-pattern>/Edit_Course_Detail</url-pattern>
    </servlet-mapping>
    <session-config><session-timeout>60</session-timeout></session-config>
<welcome-file-list><welcome-file>index.jsp</welcome-file></welcome-file-list>
        </web-app>
