BODY
{font-family: verdana, tahoma, arial, sans-serif;
font-size: 10pt;
margin: 0px;
padding: 0px;
}
td.dd
{
font-family: Viner Hand ITC;
font-style: italic;
font-size: 22pt;
}
img
{
border-style: none;
}

P
{margin: 0px;
margin-top: -11px;
margin-right: 0px;
margin-left: 0px;
}

H1
{font-size: 10pt;
font-weight: bold;
padding-top: 15px;
margin: 0;}

table.navbar
{font-size: 8pt;
margin: 0px;
padding: 2px; 
border: 0px; 
font-weight: bold;
border: green;
}
table.nav
{
top margin =-5;
}
table.menu
{font-size: 8pt;
margin: 0px;
padding: 2px;
font-weight: bold;
border : blue;

}

td.menuNor
{padding: 0px;
color: black;
font-weight: bold;
vertical-align: top;
}

td.menuHover
{padding: 0px;
color: black;
font-weight: bold;
vertical-align: top;
/*remove the following line for drop-down menu with images*/

}

div.menuNor
{display: none;
position: static;

}

div.menuHover
{border: 1px solid green;
background-color:green;
display: inline;
position: absolute;

}

a.menui:link
{text-decoration: none;
color: black;
background-color:green;
display: block;

}

a.menui:visited
{text-decoration: none;
color: black;
background-color: green;
display: block;}

a.menui:hover
{text-decoration: none;
color: yellow;
background-color: blue;
display: block;}

a.menui:active
{text-decoration: none;
color: black;
<background-color: lightblue>
display: block;}

