/* 
    Document   : lay_1
    Created on : May 25, 2013, 6:48:39 PM
    Author     : kapil
    Description:
        Purpose of the stylesheet follows.
*/

.tb{
    background: url('../images/homepage/Homepage background-3.png');
    width: 100%;
    height: 768px;
}


